In [36]:
import torch 
import torch.nn as nn 
import torch.nn.functional as F 
import pandas as pd  
import matplotlib  as plt

In [81]:
class Model(nn.Module) :
    def __init__( self , input_features=4 , h1= 8 , h2= 9 , out_features = 3 ) : 
      super().__init__() 
      self.fc1 = nn.Linear( input_features , h1 ) 
      self.fc2 = nn.Linear( h1 , h2) 
      self.out = nn.Linear( h2 , out_features ) 
    def forward(sel , x ): 
      x = F.relu(self.fc1(x) ) 
      x = F.relu(self.fc2(x)) 
      x= self.out(x) 
      return x

In [35]:
#pick a manual seed for  randomazation ( wheight and bias ) 
torch.manual_seed(41) #pick a manual seed for  randomazation ( wheight and bias ) 
model = Model()

In [42]:
my_df = pd.read_csv("./8836201/iris.csv")

In [43]:
my_df

     sepal.length  sepal.width  petal.length  petal.width    variety
0             5.1          3.5           1.4          0.2     Setosa
1             4.9          3.0           1.4          0.2     Setosa
2             4.7          3.2           1.3          0.2     Setosa
3             4.6          3.1           1.5          0.2     Setosa
4             5.0          3.6           1.4          0.2     Setosa
..            ...          ...           ...          ...        ...
145           6.7          3.0           5.2          2.3  Virginica
146           6.3          2.5           5.0          1.9  Virginica
147           6.5          3.0           5.2          2.0  Virginica
148           6.2          3.4           5.4          2.3  Virginica
149           5.9          3.0           5.1          1.8  Virginica

[150 rows x 5 columns]

In [45]:
#change last row 
my_df['variety'] = my_df['variety'].replace('Setosa' , 0.0) 
my_df['variety'] = my_df['variety'].replace('Versicolor' , 1.0) 
my_df['variety'] = my_df['variety'].replace('Virginica' , 2.0)

In [46]:
my_df

     sepal.length  sepal.width  petal.length  petal.width  variety
0             5.1          3.5           1.4          0.2      0.0
1             4.9          3.0           1.4          0.2      0.0
2             4.7          3.2           1.3          0.2      0.0
3             4.6          3.1           1.5          0.2      0.0
4             5.0          3.6           1.4          0.2      0.0
..            ...          ...           ...          ...      ...
145           6.7          3.0           5.2          2.3      2.0
146           6.3          2.5           5.0          1.9      2.0
147           6.5          3.0           5.2          2.0      2.0
148           6.2          3.4           5.4          2.3      2.0
149           5.9          3.0           5.1          1.8      2.0

[150 rows x 5 columns]

In [59]:
#Train test  split set X , y 
x = my_df.drop("variety" , axis=1) 
y = my_df['variety']

In [60]:
#conveert it to numpyt arrys 
x= x.values
y= y.values

In [61]:
from sklearn.model_selection import train_test_split

In [62]:
#train test split 
X_train , X_test , Y_train , Y_test = train_test_split(x ,y , test_size=0.2 , random_state=41 )

In [74]:
#converting x features  to float tensors 
x_train = torch.FloatTensor(X_train) 
x_test = torch.FloatTensor(X_test)

In [67]:
#convrting y fetures to float tensors 
y_train = torch.LongTensor(Y_train) 
y_test = torch.LongTensor(Y_test)

In [70]:
#CorssEntropyLoss  is a  type of cost functiion that measuers the cost/error deiffrence between actual data and 
#actual data  How far pridiction is from  actual data 
criterion = nn.CrossEntropyLoss()
#choose adam optimizer , lr = learning rate ( if error dosen't go down after bunch of itration , decreas the learing rat rate 
optimizer = torch.optim.Adam(model.parameters() , lr=0.01)

In [72]:
model.parameters

<bound method Module.parameters of Model(
  (fc1): Linear(in_features=4, out_features=8, bias=True)
  (fc2): Linear(in_features=8, out_features=9, bias=True)
  (out): Linear(in_features=9, out_features=3, bias=True)
)>

In [82]:
#modle traing 
epochs = 100  
losses = [] 
for i  in range(epochs) : 
    #forward propogation  and get a preidiction 
    y_pridict = model.forward(x_train )  # get  pridicted results 

    # measure the loss / error ( cost function ) 
    loss = criterion( y_pridict , y_train) 
    # to keep track our loss  
    # and converting pytorch tensor to numpy array 
    losses.append(loss.detach().numpy() ) 

    if i %10 ==0 : 
        print(f'Epoch:{i} and loss :{loss} ' )

    #back propogation 
    optimizer.zero_grad()
    loss.backward() 
    optimizer.setp()

NameError: name 'slef' is not defined